form {
    background-color: #23272a;
    width: 300px;
    border-radius: 10px;
    display: block;
    margin: auto;
    padding-top: 15px;
    padding-bottom: 15px;
}

input,
select,
textarea {
    display: block;
    margin: auto;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#select {
    display: flex;
    margin: auto;
    width: 250px;
}

input {
    width: 250px;
}
